<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Cat_And_Mouse_App_Server</servlet-name>
		<servlet-class>com.catandmouseapp.Cat_And_Mouse_App_ServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cat_And_Mouse_App_Server</servlet-name>
		<url-pattern>/cat_and_mouse_app_server</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssignCatServlet</servlet-name>
		<servlet-class>com.catandmouseapp.AssignCatServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>AssignCatServlet</servlet-name>
		<url-pattern>/admin/assigncat</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>RevokeCatServlet</servlet-name>
		<servlet-class>com.catandmouseapp.RevokeCatServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>RevokeCatServlet</servlet-name>
		<url-pattern>/admin/revokecat</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.catandmouseapp.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.catandmouseapp.LogoutServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>JoinGameServlet</servlet-name>
		<servlet-class>com.catandmouseapp.JoinGameServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>JoinGameServlet</servlet-name>
		<url-pattern>/joingame</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>QuitGameServlet</servlet-name>
		<servlet-class>com.catandmouseapp.QuitGameServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>QuitGameServlet</servlet-name>
		<url-pattern>/quitgame</url-pattern></servlet-mapping>
	<servlet><servlet-name>PlayerCleanupTaskServlet</servlet-name>
		<servlet-class>com.catandmouseapp.PlayerCleanupTaskServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>PlayerCleanupTaskServlet</servlet-name>
		<url-pattern>/cron/playercleanup</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>GameCleanupTaskServlet</servlet-name>
		<servlet-class>com.catandmouseapp.GameCleanupTaskServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>GameCleanupTaskServlet</servlet-name>
		<url-pattern>/cron/gamecleanup</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>NotificationCleanupTaskServlet</servlet-name>
		<servlet-class>com.catandmouseapp.NotificationCleanupTaskServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>NotificationCleanupTaskServlet</servlet-name>
		<url-pattern>/cron/notificationcleanup</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>GetGamesServlet</servlet-name>
		<servlet-class>com.catandmouseapp.GetGamesServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>GetGamesServlet</servlet-name>
		<url-pattern>/getgames</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>GetNotificationsServlet</servlet-name>
		<servlet-class>com.catandmouseapp.GetNotificationsServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>GetNotificationsServlet</servlet-name>
		<url-pattern>/getnotifications</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>CaughtPlayerServlet</servlet-name>
		<servlet-class>com.catandmouseapp.CaughtPlayerServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>CaughtPlayerServlet</servlet-name>
		<url-pattern>/caughtplayer</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>UpdateLocationServlet</servlet-name>
		<servlet-class>com.catandmouseapp.UpdateLocationServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>UpdateLocationServlet</servlet-name>
		<url-pattern>/updatelocation</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>CreateGameServlet</servlet-name>
		<servlet-class>com.catandmouseapp.CreateGameServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>CreateGameServlet</servlet-name>
		<url-pattern>/creategame</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>PlayerLocationsServlet</servlet-name>
		<servlet-class>com.catandmouseapp.PlayerLocationsServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>PlayerLocationsServlet</servlet-name>
		<url-pattern>/playerlocations</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>CheckGameServlet</servlet-name>
		<servlet-class>com.catandmouseapp.CheckGameServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>CheckGameServlet</servlet-name>
		<url-pattern>/checkgame</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>CheckJoinedGamesServlet</servlet-name>
		<servlet-class>com.catandmouseapp.CheckJoinedGamesServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>CheckJoinedGamesServlet</servlet-name>
		<url-pattern>/checkjoinedgames</url-pattern></servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>Cat%20&amp;%20Mouse%20Help.htm</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/tasks/*</url-pattern>
			<url-pattern>/cron/*</url-pattern></web-resource-collection><auth-constraint>
			<role-name>admin</role-name></auth-constraint>
		</security-constraint>	
<security-constraint>
        <web-resource-collection>
            <url-pattern>/log*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>		
<security-constraint>
        <web-resource-collection>
            <url-pattern>/*game*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>		
<security-constraint>
        <web-resource-collection>
            <url-pattern>/*player*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>		
<security-constraint>
        <web-resource-collection>
            <url-pattern>/updatelocation</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>		
		
		</web-app>
